.sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 80vh;

    width: 90%;
    margin: -32px auto 0;
    border-left: 2px solid rgb(175, 4, 4);
    border-right: 2px solid rgb(175, 4, 4);
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.842);
    background-color: #333;
    justify-content: center;

}


.informacoes{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 8px;
    font-size: 1.4em;
    align-self: center; 
    height: max-content;
}

.informacoes div p{
margin: auto;
padding: 0 5px;
}

.informacoes div{

    padding: 15px 185px;
    margin: auto;
}

.informacoes h1{
    background-color: #333;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    margin: auto;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 0.2rem solid #646464;
}

.informacoes a{
    text-decoration: none;
    color: #afafaf;
}

.informacoes a:hover{
    text-decoration: none;
    color: #8b6d6d;
    text-decoration: underline;
}

@media (max-width: 736px) {
    .informacoes div{

        padding: 8px;
        margin: auto;
    }
}