.sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    
    min-height: 80vh;
    justify-content: center;
}


.informacoes{
    max-width: 500px;
    padding: 8px;
    font-size: 1.4em;
    align-self: center; 
    height: max-content;
}

.informacoes div{
    padding: 8px;
}

.informacoes h1{
    background-color: #333;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
}

.informacoes a{
    text-decoration: none;
    color: #555;
}

.informacoes a:hover{
    text-decoration: none;
    color: #555;
    text-decoration: underline;
}